body {	
	background: #212A3F ;
	color: #FFFFFF;	
	text-align: center;
    overflow: scroll;
    }

    #copyright {
position: fixed;
bottom: 0;
text-align: left;
font-size: 12px;
color:grey;
}

    @font-face{  /* digital font */
        font-family:'digital-font';
        src: url('./digitalfont.ttf');
       }

    #unconf, #bestblock, #lasttime, #edges, #vertices{
       font-family: 'digital-font', sans-serif;
       font-size: 14px;
    }

    table#ghead td { /* table on network tab */
        height: 30px;
        padding: 5px 5px;
        color: #fff
    }

    #tabtabo td, #tabtabv td, #tabtabb td, #tabtabt td { /* table for volume, orders, balance, transfers */
        height: 25px;
        padding: 2px 5px;
        color: #fff
    }

    #mesf { /* hide for webview on android*/
    background:green;
    white-space: nowrap
}
   #ann { /* announcement message */
    background: #89c875;
    white-space: nowrap
   } 

 /* button for graph*/
    #bgr {
        cursor: pointer;
        text-decoration: none;
        height: 30px;
        outline: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
        border: 0px solid #212A3F;
        border-radius: 0px;
        font-size: 13px;
        color: grey;
        font-weight: 600;
        transition: .2s ease-in-out;
      }
      #bgr:before {
        content: "";
        background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -75px;
        transform: skewX(-45deg);
      }
      #bgr:hover {
        background: #212A3F;
        color: #aaa;
      }
      #bgr:hover:before {
        left: 470px;
        transition: .7s ease-in-out;
      }

#neo {
   
    height: 78px;
    display: flex; 
    justify-content: center;
    background: transparent;

}

a {
    color:#fff;  
}

a:visited {
    color:#fff; 
}

a:hover {
    color:#fff;
    text-decoration: underline;
}
    
#s1, #s2, #s3, #s4, #s5 {
    z-index: 1;
    position: absolute;   
}
	
tr {	
	color: limegreen;
}	
	
td {	
	text-align: center;
	background: #212A3F ;
}


th {
	color:  #FFFFFF;
	text-align: center;
	background: #212A3F ;
}

	
/* fadein image */
#fade {
	z-index: -1;
	position: absolute;
	height: 365px;
	left: 0;
	right: 0;
	width: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
	
	
/* button select contract */
	
.button-group {
margin:auto;
}

.button-group > input {
  display: none;
  margin:auto;
  }
  
 .button-group > label {
 width:84px;
 } 
 
.button-group input:checked + label,
.button-group input:checked + label:active {
 font-weight:bold;
}


/* display DOM after load js */	

[v-cloak] > * { display:none;
}
/*
[v-cloak]::before { content: "Chrome, Firefox, Opera and Edge are supported browsers. Internet Explorer is not supported!"
    
}
*/

/* tabs zone */
        
        .containertab {
            margin: 0 auto ;
            padding: 15px;
					
        }
        
        /* tabs container */
        
        .tabs {           
            padding: 15px 15px 0px 15px;
            margin: -5px auto;
			background: inherit;
			border: 0px;	
        }
        /* style windows */
        
        .tabs > section {
            display: none;
            padding: 15px 15px 0px 15px;
            background: #32374B;
            border: 0px;
			border-radius: 5px 5px 0 0;
			border-top: 1px solid #009933	
        }
        
	.grad {
	 background: linear-gradient( #32374B, #212A3F );
	 height:20px;
	}      
        /* hide checkbox */
        
        .tabs > input {
            display: none;   
        }
        /* style balane history sumnmary */
        
        .tabs > label {
            display: inline-block;
            margin: 0 0 -1px 0;
            padding: 10px 0px;
			width: 105px;
            font-weight: 600;
            text-align: center;
            color: #aaa;
            border: 0px solid #32374B;
			
            border-width: 1px 1px 0px 1px;
            background: #212A3F;
            border-radius: 5px 5px 0 0;
        }
           
        /* style tabs on hover */
        
        .tabs > label:hover {
            color: #888;
            cursor: pointer;
        }
        /* style active tab */
        
        .tabs > input:checked + label {
            color: #fff;
            border-top: 1px solid #009933;
            border-bottom: 1px solid #32374B;
            background: #32374B;
        }
        /* activation */
        #tabneo:checked ~ #content-neo,
		#tab000:checked ~ #content-tab000,
		#tab00:checked ~ #content-tab00,
        #tab0:checked ~ #content-tab0,
        #tab1:checked ~ #content-tab1,
        #tab2:checked ~ #content-tab2,
		#tab3:checked ~ #content-tab3,
		#tab4:checked ~ #content-tab4
         {
            display: block;
        }
      
        /*change tab's label for small screen */
        
        @media screen and (max-width: 400px) {
            .tabs > label {
                padding: 10px;
            }
        }