<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./src/hash.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
<meta charset="utf-8">
<title>Switcheo Smart Contract Explorer</title>
<style>
body {
	background-color: #212A3F;
	color: #FFFFFF;
	text-align: center;
	}
	label {
	color:#FFFFFF;
	}
[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }
</style>
</head>
<body>
<div  class="container" id="api" v-cloak>
  <h2><span style="color:#88C773">Switcheo</span> Smart Contract Explorer</h2>
  
<!--Input address-->  
  <div class="row">
	<input style="background-color: #32374B; color:#FFFFFF; width:400px; margin:auto;" autofocus type="text"
	v-on:keyup.enter = "request" v-model.trim = "address" placeholder = "Input your NEO address">
  </div>
<!-- Button -->  
  <div class="row">			 
	<button style="width:400px; color:#FFFFFF" 
	v-on:click = "request" class="button success"><b>Go</b></button>
  </div>
  
<!--Select contract-->
<div class="row" >
  <input v-on:keyup.enter ="request" v-on:click = "request" type="radio" id="All" 
		value="&contract_hashes[]=91b83e96f2a7c4fdf0c1688441ec61986c7cae26&contract_hashes[]=01bafeeafe62e651efc3a530fde170cf2f7b09bd&contract_hashes[]=0ec5712e0f7c63e4b0fea31029a28cea5e9d551f" 
		v-model="contract">
		<label for="All">All</label>
  <input v-on:keyup.enter ="request" v-on:click = "request" type="radio" id="v2" 
		value="&contract_hashes[]=91b83e96f2a7c4fdf0c1688441ec61986c7cae26" v-model="contract">
		<label for="v2">Ver. 2.0</label>
  <input v-on:keyup.enter ="request" v-on:click = "request" type="radio" id="v15" 
		value="&contract_hashes=01bafeeafe62e651efc3a530fde170cf2f7b09bd" v-model="contract">
		<label for="v15">Ver. 1.5</label>
  <input v-on:keyup.enter ="request" v-on:click = "request" type="radio" id="v1" 
		value="&contract_hashes=0ec5712e0f7c63e4b0fea31029a28cea5e9d551f" v-model="contract">
		<label for="v1">Ver. 1.0</label>
</div>

<div id="txt" class="row" style="color:red"></div> <!--Alert message if address is not correct-->

<!--Output balances-->
<div class="row">		
<div class="large-4 columns"  v-for="(result, index) in results"> <!-- requested Vue module in api.js -->

	<div style="background-color:#32374B">
		
		<!--auto comments in columns-->
		<div style="background-color: #88C773" >
			<p v-show="index == 'confirming'">WAITING FOR CONFIRMATION</p>
			<p v-show="index == 'confirmed'">CONTRACT BALANCE</p> 
			<p v-show="index == 'locked'">TOKENS IN ORDERS</p> 
		</div>
				
		<!-- Print all data in table -->
		<div  v-for = "(result1, index1) in result">	
			<div v-for = "(dec, tok) in tokens"> <!--get decimals of tokens-->
				<p v-show = "index != 'confirming' && tok == index1">{{parseFloat(result1+"e-"+dec.decimals)}}&nbsp;&nbsp;&nbsp;{{index1}}</p>
				<div v-show = "index == 'confirming' && tok == index1" v-for="(result2, index2) in result1"> <!-- print balance only for 'confirming'-->		
					<p> {{parseFloat(result2.amount+"e-"+dec.decimals)}}&nbsp;&nbsp;&nbsp;{{index1}}</p>				
				</div>
			</div>
		</div>  	
	</div>
</div>	
</div>
<script src="./src/api.js"></script> <!-- request data API -->
</body>
</html>





