<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <script>
      <!--[if !IE]>
      alert("Internet Explorer is not supported! Chrome, Firefox, Opera and Edge are supported browsers.")
        <![endif]-->   
    </script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js" async></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script src = "https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" async></script>
<script src = "./src/neo.min.js" async ></script>
<script src = "./src/graph.js" async></script>
<script src= "./src/excellentexport.js" async></script>
<script src = "./src/canvasjs.min.js" async></script>
<script src = "./src/hash.js" async></script>
<script src = "https://unpkg.com/3d-force-graph@1.41.1/dist/3d-force-graph.min.js" async></script>
<link href = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" rel="stylesheet"/>
<link href = "./css/style.css" type="text/css" rel="stylesheet"/>
<meta name="viewport" content="target-densitydpi=device-dpi"> 
<title>Switcheo Explorer</title>
</head><body>

<!-- hide for webview android-->
<div id = "mesf" ><a style = "color:yellow; font-weight: bold" href = 'http://switcheoexplorer.tech/'>switcheoexplorer.tech</a> || <a  target='_blank' href = 'https://vimeo.com/300048803'>Introduction Video</a> || <a  target='_blank' href = 'https://vimeo.com/300879929'>How to Use</a> || <a  target='_blank' href = 'https://github.com/alekcangp/SwitcheoSmartContractExplorer/releases/tag/v1.1'>Download for Android</a> || <a  target='_blank' href = 'https://t.me/joinchat/AAAAAEcuc4qsxMgIVcaQug'>Telegramm Group</a></div> 
<!-- announcements--> 
<div id = "ann" >&nbsp;</div> 
<script>
axios.get("https://api.switcheo.network/v2/exchange/announcement_message").then(function(response) {
	var ann = response.data; 
	document.getElementById("ann").innerHTML = "&#9993; " + ann.messages[0].message + " &#9993; "+ ann.messages[1].message;
})
</script>    

<img id = "fade" alt = '' src = "./img/bg.jpg">
<div class="container" id="api" style = "min-width:910px" v-cloak>
<a target='_blank' href = "http://switcheo.network/?utm_source=Aleksandr&utm_campaign=Callisto"><img alt = '' style="height:40px; margin: 10px 0px 0px 0px" src = "./img/logoswth.png"></a>

<div class="row" style = "text-align:center;width:920px;">
 
 <!-- gauge balance-->  
 <div style = "height:220px; width:220px; float:left;margin:-25px 0 0 0">
    <img alt = '' style = "height:185px; width:185px; margin:17px 0 0 17px; position:absolute; z-index:-1; opacity:0.8;" src = './img/logico.png'>
 <canvas 
		data-type="radial-gauge"
        data-width="220"
        data-height="220"
        data-units="x10^4 $"
        data-title=""
        data-value="0.001"
        data-animate-on-init="true"
        data-animated-value="true"
        data-min-value="0"
        data-max-value="1000"
        data-major-ticks="0,100,200,300,400,500,600,700,800,900,1000"
        data-minor-ticks="2"
        data-stroke-ticks="false"
        data-highlights='[
            { "from": 0, "to": 200, "color": "rgba(0,255,0,.15)" },
            { "from": 200, "to": 400, "color": "rgba(255,255,0,.15)" },
            { "from": 400, "to": 600, "color": "rgba(255,30,0,.25)" },
            { "from": 600, "to": 800, "color": "rgba(255,0,225,.25)" },
            { "from": 800, "to": 1000, "color": "rgba(0,0,255,.25)" }
        ]'
        data-color-plate="transparent"
        data-color-major-ticks="#f5f5f5"
        data-color-minor-ticks="#ddd"
        data-color-title="#fff"
        data-color-units="#fff"
        data-color-numbers="#eee"
        data-color-needle-start="rgba(240, 128, 128, 1)"
        data-color-needle-end="rgba(255, 160, 122, .9)"
        data-value-box="true"
        data-animation-rule="bounce"
        data-animation-duration="500"
        data-border-inner-width="1"
        data-border-middle-width="1"
        data-border-outer-width="8"
        data-color-border-outer = "green"
        data-color-border-outer-end="#88C773"
        
></canvas>
 </div>
 

 <div style = "width:480px; float:left; margin:20px 0 0 0">
<!-- Buttons select contract (delay request for firefox browser)--> 
  <div  class="small button-group">
	  <input v-on:click = "setTimeout(function(){request()}, 50)" type="radio" id="All" value="All" v-model="contr">
      <label class="button warning" style="color:#fff; border-radius: 5px 0px 0 0;" for="All">ALL</label>

      <input v-on:click = "setTimeout(function(){request()}, 50)" type="radio" id="eth" value="eth" v-model="contr">
      <label class="button" style="color:#fff; " for="eth">ETH</label>
	  
      <input v-on:click = "setTimeout(function(){request()}, 50)" type="radio" id="v20" value = 'v20' v-model="contr">
      <label class="button success" style="color:#fff;" for="v20">NEO</label>
	  
      <input v-on:click = "setTimeout(function(){request()}, 50)" type="radio" id="v15" value="v15" v-model="contr">
      <label class="button secondary"  style="color:#fff;" for="v15">V1.5</label>
	  
	  <input v-on:click = "setTimeout(function(){request()}, 50)" type="radio" id="v10" value="v10" v-model="contr">
      <label class="button secondary" style="color:#fff; border-radius: 0px 5px 0 0;" for="v10">V1.0</label>
    </div>


<!--Input address neo-->  
  <div class="row" >
	<input style="background-color:green; color:#FFFFFF; width:423px; margin:auto auto 1px auto; opacity: 0.8;" type="text"
	v-on:keyup.enter = "request" v-model.trim = "addresses[0]" placeholder = "Enter NEO address">
  </div>

  <!--Input address eth-->  
  <div class="row" >
	<input style="background-color: #483D8B; color:#FFFFFF; width:423px; margin:auto auto 1px auto; opacity: 0.8;" type="text"
	v-on:keyup.enter = "request" v-model.trim = "addresses[1]" placeholder = "Enter ETH address">
  </div>
  
<!-- Button -->  
  <div class="row">			 
	<button style="width:423px; color:#FFFFFF; border-radius: 0px 0px 5px 5px;" 
	v-on:click = "request" class="button success"><b id = 'go'>Go</b>
	</button>
  </div>
  &nbsp;<b style = "font-family: 'digital-font', sans-serif; font-size: 12px; color:lime; text-shadow:  0 0 5px black;"> 
         <span v-if = "number != 0" >SWTH price: {{ animatedNumber }} $</span>
         <span v-else > SWTH price: ........... $</span>
        </b>
        <div id = "aler" style = "color:orange"></div>
</div>
 
 
 <!-- gauge contract -->
 <div style = "width:220px; float:left; margin:-25px 0 0 0">
    <img alt = '' style = "height:185px; width:185px; margin:17px 0 0 17px; position:absolute; z-index:-1; opacity:0.8" src = './img/logico.png'>
 <canvas 
		data-value="0"
        data-title=""
		data-type="radial-gauge"
        data-width="220"
        data-height="220"
        data-min-value="0"
        data-max-value="360"
        data-major-ticks="ALL,V1.0,V1.5,NEO,ETH,,,,ALL"
        data-minor-ticks="22"
        data-ticks-angle="360"
        data-start-angle="180"
        data-stroke-ticks="false"
        data-color-plate="transparent"
        data-color-title="#fff"
        data-color-major-ticks="#f5f5f5"
        data-color-minor-ticks="#ddd"
        data-color-numbers="#fff"
        data-color-needle="rgba(240, 128, 128, 1)"
        data-color-needle-end="rgba(255, 160, 122, .9)"
        data-highlights='[
            { "from": 337.5, "to": 22.5, "color": "rgba(255, 165, 0,.5)" },
            { "from": 22.5, "to": 112.5, "color": "rgba(128, 128, 128,.5)" },
            { "from": 112.5, "to": 157.5, "color": "rgba(152, 251, 152,.5)" },
            { "from": 157.5, "to": 202.5, "color": "rgba(70, 130, 180,.5)" }
           
        ]'
        data-value-box="false"
        data-value-text-shadow="false"
        data-color-circle-inner="#fff"
        data-color-needle-circle-outer="#ccc"
        data-needle-circle-size="12"
        data-needle-circle-outer="false"
        data-animation-rule="linear"
        data-needle-type="line"
        data-needle-start="75"
        data-needle-end="99"
        data-needle-width="3"
        data-borders="true"
        data-border-inner-width="1"
        data-border-middle-width="1"
        data-border-outer-width="8"
        data-color-border-outer = "green"
        data-color-border-outer-end="#88C773"
        data-color-needle-shadow-down="#222"
        data-border-shadow-width="0"
        data-font-value="Led"
        data-animation-target="plate"
        data-animation-duration="500"
></canvas>
 </div>
 </div>
 

<!-- tabs zone -->
<div class="row">
          
	<div class = "tabs">
           
            <input id="tabneo" type="radio" value="tabneo" v-model = "tabn">
            <label for="tabneo"><b id = "net">NETWORK</b></label>
			<input id="tab000" type="radio" value="status" v-model = "tabn">
            <label for="tab000" ><b id = "vstatus">NODES</b></label>
			<input v-on:click = "xfeeVolume()" id="tab00" type="radio"  value="fee" v-model = "tabn">
            <label for="tab00" ><b id = "fee">FEES</b></label>
			<input id="tab0" type="radio"  value="multi" v-model = "tabn">
            <label for="tab0" ><b id = "mload">ADDRESSES</b></label>
            <input id="tab1" type="radio"  value="balance" v-model = "tabn">
            <label for="tab1" ><b id = "bload">BALANCE</b></label>
            <input id="tab3" type="radio" value="orders" v-model = "tabn">
            <label for="tab3" ><b id = "oload">ORDERS</b></label>
			<input id="tab4" type="radio" value="volume" v-model = "tabn">
            <label for="tab4" ><b id = "vload">VOLUME</b></label>
            <input id="tab2" type="radio"  value="transfers" v-model = "tabn">
            <label for="tab2" ><b id = "tload">TRANSFERS</b></label>

<!--NETWORK -->           
<section id="content-neo">
    <p> <b style = "color:#fff">NEO NETWORK STATUS</b> </p>
     
    <div id = "neo">
        <div  style = "max-width: 850px;">
             <table id = "ghead">
             <tr>
                 <td style = "width: 200px; text-align: left;"><span style = "color:grey">HEIGHT >> </span>
                    <b id = "bestblock"></b></td>
                
                 <td style = "width: 450px" >
                    <span style = "color:grey">UNCONFIRMED >> </span>
                    <b id = "unconf"></b>
                    <span style = "color:grey"> &lt;&lt; TRANSACTIONS </span>
                 </td>   

                 <td style = "width: 200px; text-align: right"><b id = "lasttime"></b><span style = "color:grey">  &lt;&lt; TIME AGO</span>
               </td>
             </tr>
             <tr>
                <td style = "width: 200px; text-align: left"><span style = "color:grey">EDGES >> </span>
                   <b id = "edges"></b></td>
               
                <td style = "padding: 0; margin: 0; "><button style="width:450px; box-shadow: 0 0 3px #FFFFFF" 
                  v-on:click = "tabelv()" id = "bgr">
                 <span id = 'tv'>&nbsp;</span>
                </button>
                </td>   

                <td style = "width: 200px; text-align: right"><b id = "vertices"></b><span style = "color:grey">  &lt;&lt; VERTICES</span>
              </td>
            </tr>

            </table>
        </div>
    </div>  

    <div  style = "display: flex; justify-content: center;">          
    <div id="tabv"  style = "width:850px;"></div>
    </div>
   <div id="dg" style = "display: flex; justify-content: center;"></div>

</section>


<!--NODES SWITCHEO -->	
		
<section id="content-tab000">

			
<p><b>SWITCHEO STATUS MONITOR</b></p>

    <canvas data-type="linear-gauge"
    data-width="420"
    data-height="120"
    data-min-value="0"
    data-max-value="120"
    data-major-ticks="ALARM,NOT BAD,GOOD,EXCELENT"
	data-highlights='[
            { "from": 0, "to": 20, "color": "rgba(255, 0, 0, 1)" },
            { "from": 20, "to": 60, "color": "rgba(255, 215, 0, 1)" },
            { "from": 60, "to": 100, "color": "rgba(50, 205, 50, 1)" },
            { "from": 100, "to": 120, "color": "rgba(0, 255, 0, 1)" }
        ]'	
	data-highlights-width="15"
    data-minor-ticks="10"
    data-stroke-ticks="true"
    data-color-plate="transparent"
    data-border-shadow-width="0"
    data-borders="false"
    data-bar-begin-circle="false"
    data-tick-side="left"
    data-number-side="left"
    data-needle-side="left"
    data-needle-type="line"
    data-needle-width="5"
    data-color-needle="coral"
    data-color-needle-end="#fff"
    data-animation-duration="400"
    data-animation-rule="linear"
    data-animation-target="plate"
    data-bar-width="10"
    data-ticks-width="50"
    data-ticks-width-minor="15"
	data-color-major-ticks="#f5f5f5"
    data-color-minor-ticks="#ddd"
    data-color-numbers="#eee"
></canvas>
<br>
<br>
<div id = "neosapi" style = "color:orange"></div>

<table class="unstriped">
<caption>NODES STATISTIC IN REAL TIME</caption>


<thead>
 <tr style="text-align:center">
      <th style="text-align:center; width:350px">Nodes</th>
      <th style="text-align:center; width:130px">Version</th>
      <th style="text-align:center; width:180px">Block Height</th>
	  <th style="text-align:center; width:150px">Create/Sync</th>
      <th style="text-align:center; width:100px">Peers</th>
	  <th style="text-align:center; width:100px">MemPool</th>
    </tr>
</thead>	
<tbody>
	
	<tr id = "nod1" >
      <td >seed1.switcheo.network:10331&nbsp;&nbsp;<span id = "s1"></span></td>
      <td id="ver1"></td>
      <td id="height1"></td>
      <td  id="count1"></td>
	  <td  id="peers1"></td>
	  <td  id="mem1"></td>
    </tr>
	
	<tr id = "nod2">
      <td>seed2.switcheo.network:10331&nbsp;&nbsp;<span id = "s2"></span></td>
      <td id="ver2"></td>
      <td id="height2"></td>
      <td  id="count2"></td>
	  <td  id="peers2"></td>
	  <td  id="mem2"></td>
    </tr>
		
	<tr id = "nod3" >
      <td>seed3.switcheo.network:10331&nbsp;&nbsp;<span id = "s3"></span></td>
      <td id="ver3"></td>
      <td id="height3"></td>
      <td  id="count3"></td>
	  <td  id="peers3"></td>
	  <td  id="mem3"></td>
    </tr>
		
	<tr id = "nod4">
      <td>seed4.switcheo.network:10331&nbsp;&nbsp;<span id = "s4"></span></td>
      <td id="ver4"></td>
      <td id="height4"></td>
      <td  id="count4"></td>
	  <td  id="peers4"></td>
	  <td  id="mem4"></td>
    </tr>
	
	<tr id = "nod5">
      <td>seed5.switcheo.network:10331&nbsp;&nbsp;<span id = "s5"></span></td>
      <td id="ver5"></td>
      <td id="height5"></td>
      <td  id="count5"></td>
	  <td  id="peers5"></td>
	  <td  id="mem5"></td>
    </tr>

</tbody>
</table>
<br>	

			
		
</section>			
			
			
<!--FEES-->
<section id="content-tab00">
	<div class = "row">
		<span style="font-weight:600;">VOLUME FEES:&nbsp;&nbsp; </span>
		<select v-on:change = "feeVolume(1)" style="background-color: #32374B; color:#00FF00; width:100px; text-align:center; font-weight:600;" v-model="selected">
		<option v-show = "inde > 0" v-for="(option, toke, inde) in fees">
		{{ toke }}
		</option>
		</select>

	</div>
<div id="errfee" style="color:orange;"></div>
<div id="chartContainer" style="height: 500px; width:100%;"></div>
<br>
<a style="font-size:12px;"  target="_blank" href = "https://switcheolytics.tech/" >This is using API switcheolytics.tech</a>

</section>
			
			
<!--MULTI ADDRESSES-->
<section id="content-tab0">	
<p><b>ADD MULTI ADDRESSES</b></p>
<div v-for="(item, index) in addresses" >
		
      <input style="background-color: #212A3F; margin:0px 0px 15px 40px; display:inline; color:#FFFFFF; width:423px;" 
      autofocus type="text" v-model="addresses[index]" placeholder = "Enter NEO or ETH address">     
      <a style = "text-decoration: none;" href="#" @click="deleteItem(addresses, index)"><b style = "color:red">&nbsp;&nbsp;&nbsp;X</b></a>
    </div>	
	<button class="button" v-on:click = "addItem(addresses)">Add more...</button>

</section>

<!--Output BALANCE	-->
<section id="content-tab1">	  				  
	<div class="row">
       <b>EXCHANGE BALANCE</b><br> 
       <span style="font-size:12px;" v-show = " results != '' ">
            <a  download="balance.xls" href="#" onclick="return ExcellentExport.excel(this, 'tabtabb', 'Balance');">Excel </a>||
            <a  download="balance.csv" href="#" onclick="return ExcellentExport.csv(this, 'tabtabb');"> CSV</a>          
            </span>
      <table id = "tabtabb" class = "large-8 large-centered columns" >
          <tr v-show = "results != ''">
                <td>TOKEN</td>
                <td>PENDING</td>
                <td>CONTRACT BALANCE</td>
                <td>IN OPEN ORDERS</td>
          </tr>

        <tr v-for = "itemb in results">
            <td><b>{{ itemb[0] }}</b></td>
            <td style = "color:orange"><span style = "color:grey; font-size: 12px;">{{ itemb[5] }} </span><span style = "color:grey; font-size: 15px;">{{ itemb[4] }} </span> {{ itemb[1] }}</td>
            <td style = "color:limegreen">{{ itemb[2] }}</td>
            <td style = "color:yellow">{{ itemb[3] }}</td>
        </tr>
        <tr v-show = "results != ''">
            <td style = "color:grey;" v-for = "dol in balance"><span v-if = "dol != 0">{{dol}}</span></td>
        </tr>
       </table>
	 
    </div>
</section>

			
    <!-- Output ORDERS--> 
    
<section id = "content-tab3"> 
     
       
<div class="row">
    <b>ORDERS HISTORY</b><br>
    <span style="font-size:12px;" v-show = " morders != '' ">
    <a  download="orders.xls" href="#" onclick="return ExcellentExport.excel(this, 'tabtabo', 'Orders');">Excel </a>||
    <a  download="orders.csv" href="#" onclick="return ExcellentExport.csv(this, 'tabtabo');"> CSV</a>          
    </span>
   <table id = "tabtabo" class = "large-10 large-centered columns" >       
        <tr v-if = " morders != '' ">
            <td>DATE</td>
            <td>SIDE</td>
            <td>PAIR</td>
            <td>AMOUNT</td>
            <td>PRICE</td>
            <td>STATUS</td>
            <td>FILLED</td>
        </tr>                        
        <tr v-for = "mo in morders">
             <td>{{moment(mo[0].created_at).format('DD-MM-YYYY, HH:mm:ss')}} </td>
             <td>
                <span v-if = "mo[0].side == 'sell'"><span style = "color:red">sell</span></span>
                <span v-if = "mo[0].side == 'buy'"><span style = "color:limegreen">buy</span></span>
            </td>
            <td>
                <span v-if = "mo[0].side == 'sell'">{{mo[1]}}/{{mo[2]}}</span>
                <span v-else>{{mo[2]}}/{{mo[1]}}</span>
            </td>
            <td>
                <b><span v-if = "mo[0].side == 'sell'">{{parseFloat(mo[0].offer_amount+"e-"+mo[3])}}</span>
                <span v-else>{{parseFloat(mo[0].want_amount+"e-"+mo[4])}}</span></b>
            </td>
            <td>{{priced(mo[0].fills, mo[0].makes)}}</td>
            <td>
                <span v-if = "mo[0].order_status == 'open'" style = "color:yellow">{{mo[0].order_status}}</span>
                <span v-if = "mo[0].order_status == 'completed'" style = "color:green">{{mo[0].order_status}}</span>
                <span v-if = "mo[0].order_status == 'cancelled'" style = "color:grey">{{mo[0].order_status}}</span>  
            </td>
            <td>{{Math.round(persent(mo[0].fills, mo[0].makes)/Number(mo[0].offer_amount)*100)}}%</td>                      
        </tr>
	</table>

</div>
</section>	


<!-- Output VOLUME --> 

<section id = "content-tab4"> 	
<div class="row">
        <b>TRADING VOLUME</b><br>
        <span style="font-size:12px;" v-show = "mt != ''">
        <a download="volume.xls" href="#" onclick="return ExcellentExport.excel(this, 'tabtabv', 'Volume');">Excel </a>||
        <a download="volume.csv" href="#" onclick="return ExcellentExport.csv(this, 'tabtabv');"> CSV</a>          
        </span>
<div  v-for = "vol in volume" :key="vol.id"> 
		<div v-for = "vo in vol.data" :key="vo.id">
				<div v-if = "vo.offer_asset_id == ohash1.hash" v-for = "(ohash1, otok1, key1) in tokens"  :key="otok1.id">
					<div v-if = "vo.want_asset_id == ohash2.hash"  v-for = "(ohash2, otok2, key2) in tokens" :key="otok2.id"> 
	
                    {{volumed(ohash1, ohash2, key1, key2, otok1, otok2, priced(vo.fills, vo.makes), persent(vo.fills, vo.makes), vo.side)}}
                     
					</div>
				</div>	
		</div>	
	</div>
	
	<table id = "tabtabv" class = "large-8 large-centered columns" >       
    <tr v-if = "mt != ''">
        <td>TOKEN</td>
        <td>OFFER</td>
        <td>WANT</td>
        <td>TOTAL</td>
     </tr>
         
    <tr  v-for = "(m, i) in mt" v-if = "m != null">    	
        <td>{{m}}</td>
        <td>
        <span style =" color:red">{{ms[i].toFixed(8)}} </span>
        </td>
        <td>
        <span style =" color:limegreen">{{mb[i].toFixed(8)}}</span>
        </td>
	    <td>
        <b>{{(ms[i] + mb[i]).toFixed(8)}}</b>  
        </td>
        </tr>
   
    </table>
	
</div>	
</section>


<!-- Output TRANSFERS -->    
<section id="content-tab2"> 	
	<div class="row">	
       <b>DEPOSITS AND WITHDRAWALS</b><br>
       <span style="font-size:12px;" v-show = "transfers != ''">
            <a download="transfers.xls" href="#" onclick="return ExcellentExport.excel(this, 'tabtabt', 'Transfers');">Excel </a>||
            <a download="transfers.csv" href="#" onclick="return ExcellentExport.csv(this, 'tabtabt');"> CSV</a>
            </span>
            <table id = "tabtabt"  class = "large-10 large-centered columns">
                <tr v-show = "transfers != ''">
                    <td>DATE</td>
                    <td>EVENT</td>
                    <td>TOKEN</td>
                    <td>AMOUNT</td>
                    <td>ADDRESS</td>
                </tr>
                <tr v-for = "tran in transfers">
                    <td>{{moment.unix(tran[0]).format('DD-MM-YYYY, HH:mm:ss')}}</td>
                    <td>
                        <span v-if = "tran[1] == 'deposit'" style = "color:limegreen">{{tran[1]}}</span>
                        <span v-else style = "color: yellow">{{tran[1]}}</span>
                    </td>
                    <td><b>{{tran[2]}}</b></td>
                    <td>{{tran[3]}}</td>
                    <td>{{tran[4]}}</td>
                </tr>
            </table>
    </div>	 
</section>	

			
		    <div class = "grad"> </div> 
		</div>      
	</div>
</div>


<script src= "./src/api.js"></script>
<script src = "./src/nodes.js"></script>
<script src = "./src/gauge.min.js" async></script>

<script>
    
    document.onreadystatechange = function () {
  if (document.readyState == "complete") {
      txt = "<img alt = '' src = './img/loads.gif'>"; 
      document.getElementById('tv').innerHTML = txt;
    setTimeout(timing, 500);
    runfee();
    setInterval(setgauge, 10000)
    setTimeout(monitor, 5000); 
    setInterval(timing, 60000); 
    setInterval(monitor, 60000);
    setTimeout(runbest, 100);
  }
}

</script>

<!-- Hotjar Tracking Code for http://switchstatistic.000webhostapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1078254,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<div id = "copyright">Сделано в России</div>
</body>
</html>





